$background-color: #FAFAFA;


// Basic colors
$white: #fff;

// Spacing
$space-base: 0.5rem;                // 8px
$space-xs: $space-base / 2;         // 4px
$space-sm: $space-base * 1.5;       // 12px
$space-md: $space-base * 2;         // 16px
$space-lg: $space-base * 3;         // 24px
$space-xl: $space-md * 2;           // 32px
$space-xxl: $space-xl * 2;          // 64px

// Font Size
$font-size-base: 0.5rem;                // 8px
$font-size-xs: $space-base / 2;         // 4px
$font-size-sm: $space-base * 1.5;       // 12px
$font-size-md: $space-base * 2;         // 16px
$font-size-lg: $space-base * 3;         // 24px
$font-size-xl: $space-md * 2;           // 32px
$font-size-xxl: $space-xl * 2;          // 64px

// Font Weight
$font-weight-base: 400;
$font-weight-semi: $font-weight-base * 0.25;
$font-weight-bold: $font-weight-base * 0.5;

// Breakpoints
$screen-sm: 575.98px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;