@import "variables";

.footer {
  -webkit-clip-path:polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background: $black-footer;
  clip-path:polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  min-height: 540px;
  width:100%;

  &.absolute {
    position: absolute;
    bottom: 0;
  }

  .linksContainer {
    color: $light-gray-font;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    ul {
      list-style: none;
      padding: 0 $space-md;

      li {
        line-height: $line-height-content;
        margin-bottom: $space-md;
        font-family: $font-family-global;
        font-size: $font-size-xs * 3.5;
        font-weight: $font-weight-base;

        &.category {
          font-size: $font-size-md * 1.25;
          line-height: $line-height-heading;
          margin-bottom: $space-lg;
        }
      }
    }
  }
}