@import "variables";

.languagesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-md;

  div:not(:last-child) {
    margin-right: $space-md;
  }

  .language {
    color: $gray-font;
    font-family: "Mukta";
    font-size: $font-size-md;
    font-weight: $font-weight-base;
    line-height: $line-height-link;
    margin-left: $space-base;
  }
}