@import "variables";

.repositoryListContainer {
  background-color: $white;
  flex: 0 0 70%;
  padding-top: $space-md;
  padding-bottom: 500px;

  &.lessPadding {
    padding-bottom: 50px;
  }

  .cardListContainer {
    display: flex;
    flex-wrap: wrap;

    .repositoryCard {
      border-radius: $space-md;
      filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.08));
      flex: 0 0 calc(100% - #{$space-xs * 9.5});
      margin: $space-xl $space-xs*4.75;
      padding: $font-size-xl;

      .repositoryNameContainer {
        display: flex;
        justify-content: space-between;

        .repositoryName {
          font-family: "Mukta";
          line-height: $font-size-xl;
          font-size: $font-size-xs * 5;
          font-weight: $font-weight-base;
        }

        .repositoryVisibility {
          color: $gray-font;
          font-family: "Mukta";
          font-size: $font-size-base * 1.75;
          font-weight: $font-weight-base;
          line-height: $line-height-content;
        }
      }

      @media (min-width: $screen-md) {
        flex: 0 0 calc(50% - #{$space-xs * 9.5});

        &.fullScreenContent {
          flex: 0 0 calc(33.333% - #{$space-xs * 9.5});
        }
      }
    }
  }
}
