@import './variables';

.userInfoContainer {
  border-bottom: 0 !important;
  display: flex;
  flex-direction: column;

  .userInfo {
    display: flex;
    padding: $space-sm * 2.5 $space-xl;

    .avatarBox {
      margin-right: $space-xs * 4.75;
    }

    .profileData {
      .userName {
        font-size: $font-size-md * 1.25;
        line-height: $line-height-heading;
      }

      p {
        font-size: $font-size-base * 1.75;
        font-weight: $font-weight-base;
        line-height: $line-height-content;
      }

      .userName,
      p {
        font-family: $font-family-global;
        margin: 0;
      }
    }
  }

  .followBox {
    border-top: 1px solid $border-gray;
    display: flex;
    justify-content: space-between;
    padding: $space-base * 2.5 $space-xl;

    div {
      color: rgba(0, 0, 0, 0.6);
      font-family: $font-family-global;
      font-size: $font-size-md;
      line-height: $line-height-link;
    }
  }

  @media (min-width: $screen-md) {
    border-radius: $space-base !important;
  }

  @media (min-width: $screen-lg) {
    border: 1px solid $black !important;
    margin: 0 $space-md;
  }
}
